extends layout

block content
  .nav
    .path
      a(href='/')= rootName
      a= name
    a.button(href=`/branch/${name}/tree/`) Файлы

  .list.commits
    each commit in data
      a.list__item(href=`/commits/${commit.hash}/tree/`)
        .hash= commit.hash
        if commit.message
          .commit-info
            .message= commit.message
            .status= `Добавлено ${commit.author}, ${commit.time}`


