extends layout

block content
  if data
    .nav
      .path
        - var baseUrl = `/${type}/${name}/tree/`
        a(href='/') #
        a(href=baseUrl)= name
        if path
          - var links = path.split('/').filter(function(el) {return Boolean(el)})
          each link, index in links
            - var uri = baseUrl + links.slice(0, index+1).join('/') + '/'
            a(href=`${uri}`)=link
      if type === 'branch'
        a.button(href=`/branch/${name}/commits/`) Коммиты
    if !data.error
      .list
        if data.list
          each el in data.list
            .list__item
              a(href=el)
                if el.endsWith('/')
                  strong= el.slice(0,-1)
                else
                  =el
        else
          code.file= data.fileContent
    else
      .error=data.error